.rowContainer {
  margin-top: -18px; // 使用负边距
  margin-bottom: 24px;
}

.container {
  padding: 24px 24px 0 24px;
  display: inline-block;
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 2px;
}
